.movieItem {
  display: flex;
  flex-direction: column;
  width: 220px;
  cursor: pointer;
}

.movieImg {
  object-fit: cover;
  height: 330px;
  border-radius: 0.5rem;
}

.movieTitle {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: lightblue;
  font-weight: 500;
  letter-spacing: 1px;
}
